@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');

/*--- Global variables ---*/

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    background-color: #424242;
}

p {
    font-family: 'Montserrat', sans-serif;
}

header,
section,
footer {
    margin: 1.2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

.horizontal-align-center {
    display: flex;
    justify-content: center;
}

/* ----- LANDING PAGE Format -----*/

.lp-navigation-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#lp-title {
    margin: 3rem 0;
}

#lp-title h1 {
    margin: 0;
    padding: 1.5rem;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
    color: #f57f17;
    text-align: center;
}

.lp-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.lp-text h2 {
    color: #ffffff;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.lp-text i {
    color: #f57f17;
    font-size: 3rem;
    margin: 10px;
}

.lp-text h3 {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
}

.lp-text a {
    text-decoration: none;
    color: #f57f17;
    padding: 1.2rem;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
}

#lp-footer {
    margin: 1rem;
    padding: 1.5rem;
}

#lp-footer p {
    font-family: 'Montserrat', sans-serif;
    color: #e0e0e0;
    font-size: 0.5rem;
    text-align: center;
}

/* ----- HEADER Format -----*/

.row {
    margin: 0;
    flex-wrap: nowrap;
}

#lp-title .nav-title {
    text-decoration: none;
    color: #f57f17;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
}

/* ---- GAME SECTION ----- */

.main-section {
    margin: 0;
    border-radius: 10px;
    box-shadow: 5px 5px #6d6d6d;
    background-color: #e0e0e0;
    text-align: center;
    max-height: max-content;
}

.game-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* ---------- Comparisation section ---------- */

.comp-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.comp-item-1,
.comp-item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    position: relative;
}

.comp-item-1 {
    border-left: solid 5px transparent;

}

.comp-item-2 {
    border-right: solid 5px transparent;
}

.comp-title {
    text-align: center;
}

.comp-title h3 {
    color: #ab000d;
    font-size: 2em;
    padding: 1.5rem;
}

.layer-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}

.layer-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}

@keyframes layer-right {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.layer-correct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 142, 60, .5);
    z-index: 100;
}

.layer-wrong {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 57, 53, .5);
    z-index: 100;
}

.btn-start {
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #e0e0e0;
    background-color: #ab000d;
}

.btn-start:focus {
    outline: none;
}

.btn--big {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ab000d;
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
    transition: all 0.5s;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.info-panel {
    background-color: #bdbdbd;
    width: 100%;
}

.info-panel p {
    margin: 0;
    padding: 0.2rem
}

.btn-img-container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.btn-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
    right: 10px;
    padding: 1.2rem;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: .5rem;
    max-height: 15%;
    max-width: 20%;
}

.grow {
    transition: all .2s ease-in-out;
}

.blink {
    -webkit-animation: blink 0.2s linear infinite;
    -moz-animation: blink 0.2s linear infinite;
    animation: blink 0.2s linear infinite;
}

.btn-container .btn {
    max-width: 50%;
    max-height: 50%;
}


.btn-img-container .btn-up {
    color: #76d275;
    background-color: #00701a;
}

.btn-img-container .btn-down {
    color: #ff6f60;
    background-color: #ab000d;
}

.btn-format {
    font-size: 24px;
    margin: 0.1rem;
    border: none;
}

/* ---------- Score Panel ---------- */

.score-section {
    margin-top: 1.5rem;
}

.score-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5rem;
    border-radius: 0 0 10px 10px;
    background-color: #bf360c;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.score-panel p {
    font-size: 1rem;
    padding: .5rem 2rem;
    margin: 10px;
    border-radius: 1.5rem;
    background-color: #e0e0e0;
    color: #424242;
    width: 200px;
    min-width: fit-content;
}

#modalCorrectAnswerWinner,
#modalCorrectAnswerLoser,
#correctAnswer {
    color: #388e3c;
}

#modalWrongAnswerWinner,
#modalWrongAnswerLoser,
#wrongAnswer {
    color: #d32f2f;
}

/* ---------- NAVBAR ---------- */

.navbar {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px #6d6d6d;
    background-color: #e0e0e0;
    width: 100%;
}

.navbar p {
    padding: 0.8rem;
    margin: 0 1rem 0 0;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
    font-family: 'Fredoka One', cursive;
    color: #f57f17;
    font-size: 1.2rem;
}

.navbar-toggler {
    border-radius: 5px;
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    text-align: left;
    font-size: 1.5rem;
}

.nav-item {
    margin: 0 1rem 0 0;
}

.active {
    color: #f57f17 !important;
}

/* ----- HOVER -----*/

/* hover style on the social network icons*/
.social-networks i:hover {
    color: #ab000d;
    transform: scale(1.2);
    transition: all 0.25s ease-in-out;
}

#contact_form .btn:hover {
    transform: scale(1.2);
    transition: all 0.25s ease-in-out;
    background-color: #ab000d;
}

.lp-text a:hover {
    background-color: #ffb04c;
    color: #424242;
    border: solid 3px #424242;
    box-shadow: 5px 5px #bc5100;
}

.navbar-nav:hover {
    color: #f57f17;
}

.grow:hover {
    transform: scale(1.02);
}

.grow-card:hover {
    transform: scale(1.2);
}

.layer-left:hover {
    background-color: rgb(255, 176, 76, .3);
    z-index: 2;
}

.layer-right:hover {
    background-color: rgb(255, 176, 76, .3);
    z-index: 2;
}

.close:hover,
.close:focus {
    color: #bc5100;
    text-decoration: none;
    cursor: pointer;
}


/* ---------- Contact Form ----------*/

.center-form {
    margin: 0;
    padding: 50px;
    text-align: right;
}

.center-form h1,
i {
    color: #f57f17;
}


.btn-form {
    margin-top: 2rem;
}

.contact-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-section h3 {
    margin: 2rem;
    color: #ab000d;

}

#contact_form {
    font-family: 'Montserrat', sans-serif;
}

#contact_form .btn {
    background-color: #f57f17;
    color: #e0e0e0;
    font-weight: 600;
}

#contact_form div {
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 1.5rem;
    border: 2px solid #f57f17;
    background-color: #e0e0e0;
}

/* Social network styling - START */

.social-network-container {
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.social-networks {
    width: 100%;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0.5%;
    padding: 1%;
    color: #f57f17;
}

/* Social network styling - END */


/* ---------- MEDIA QUERIES ----------*/

@media screen and (max-width: 1004px) {
    .navigation-menu {
        flex-direction: column;
    }

}

@media screen and (max-width: 376px) {

    .navbar p {
        display: none;
    }

    .comp-item-1 {
        width: 50%;
        height: auto;
    }

    .comp-item-2 {
        width: 50%;
        height: auto;
    }
}


/*@media screen and (min-width: 641px) {
    #navbar-hamburger {
        display: none;
    };
}*/

@media screen and (max-width: 812px) {
    .comp-title h3 {
        display: none;
    }
    .info-panel p {
        display: none;
    }
}

/* ----------------  ABOUT ---------------*/

.ms-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-steps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    margin: 2rem;
}

.grow-card {
    transition: all .5s ease-in-out;
}

.about-text {
    margin: 2rem 4rem;
    text-align: center;
    font-weight: 600;
}

.about-text a {
    text-decoration: none;
    color: #f57f17;
}

.aboutGameList {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------- MODAL ----------------*/

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: auto;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    width: fit-content;
}

#modalLoser h1 {
    font-size: 2rem;
    color: #d32f2f;
}

#modalWinner h1 {
    font-size: 2rem;
    color: #388e3c;
}

.close {
    padding: 1.2rem;
    color: #c49000;
    font-size: 1.5rem;
    font-weight: bold;
}