@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');

/*--- Global variables ---*/

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    background-color: #424242;
}

p {
    font-family: 'Montserrat', sans-serif;
}

i {
    color:#f57f17;
    font-size: 3rem;
}

/* ----- LANDING PAGE Format -----*/

.lp-text {
    text-align: center;
}

.lp-text h2 {
    color:#ffffff;
    letter-spacing: 0.2rem;
    line-height: 2rem; 
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.lp-text p {
    margin-top: 5rem;    
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
}

.lp-text a {
    text-decoration: none;
    color: #f57f17;
    padding: 20px;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
}


/* ----- HEADER Format -----*/

header {
    margin: 2rem;
}

.row {
    margin: 0;
    flex-wrap: nowrap;
}

#title {
    margin: 0;    
    text-align: center;
    
}

#title h1 {
    margin: 0;
    padding: 10px;
    border: solid 3px #f57f17;
    border-radius: 10px;
    box-shadow: 5px 5px #ffb04c;
}

#title a {
    text-decoration: none;
    color: #f57f17;
    font-size: 2rem;
}

/* ----- Navigation ------*/


.navigation {
    display: flex;
    margin: 0; 
    justify-content: space-evenly;   
}

.nav-item {
    margin: 0;
    letter-spacing: 0.2rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


/* ---- GAME SECTION ----- */

.game-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem;
    border: solid 3px #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px #6d6d6d;
    background-color: #e0e0e0 ;
    text-align: center;
}

/* ---------- Comparisation section ---------- */

.comp-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;   
    
}

.comp-item h1 {
    padding: 10px;
    color:#424242;
    font-size: 2em;
}

/* .comp-image {
    margin: 0;
    border: solid 3px #ffffff;
    border-radius: 50%;
    width: 35%;
}*/

img {
    margin: 0;
    border: solid 3px #ffffff;
    border-radius: 50%;
    width: 35%;
}

/* ---------- Middle Info Panel ---------- */

.score-panel {
    margin: 0;
    border: solid 3px #bc5100;
    border-radius: 10px;
    
}

.info-panel {
    margin: 30px;
    border: solid 3px #ffffff;
    border-radius: 10px;
}








/* ----- HOVER -----*/

img:hover {
    border: solid 5px red;
}

.lp-text a:hover {
    background-color: #ffb04c;
    color: #424242;
    border: solid 3px #424242;
    box-shadow: 5px 5px #bc5100;
}